{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<main>
    <h1>Bienvenue sur notre site d'événement !</h1>

    <div class="home">
        <ul>
            <li><a href="#">La liste des événements</a></li>
            <li><a href="#">Le calendrier</a></li>
            <li><a href="#">Créer un événement</a></li>
        </ul>
    </div>
</main>
{% endblock %}
